/* Popup Styles */


#root {
    background-color: #D5D4CD;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px; /* Fixed width */
    height: fit-content;
    max-height: 450px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
}
.popup-header {
    color: #000000;
    padding: 0 24px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    border-bottom: 1px solid rgba(31, 33, 38, 0.06);
    height: 56px;
    gap: 10px;
}

.popup-logo {
    width: 28px;
    height: 28px;
    object-fit: contain;
}

.extension-name {
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    color: rgba(31, 33, 38, 0.88);
}

.popup-body {
    padding: 0 24px;
    color: rgba(31, 33, 38, 0.88);
    flex-grow: 1;
    overflow-y: auto;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #b6b6b6;
    transition: .4s;
    border-radius: 34px;
}

.slider.round {
    padding: 2px;
}

.slider.round:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #1F21B6;
}

input:checked + .slider.round:before {
    transform: translateX(16px);
}


.checkbox-label {
    font-size: 14px;
    color: rgba(31, 33, 38, 0.65);
    line-height: 14px;
    padding: 8px 0 0;
    margin: 0;
}

.popup-footer {
    border-top: 1px solid rgba(31, 33, 38, 0.06);
    padding: 0 24px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.learn-more-link {
    color: #1F21B6;
    text-decoration: none;
    font-size: 12px;
}
